<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>
<div  *ngIf="metaData !== null">
  <table mat-table [dataSource]="metaData" class="mat-elevation-z8">

    <!-- id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element">
        {{element.id||"--"}}
        <div [class]="properties||'null'">
          <mat-icon>done</mat-icon>
        </div>
      </td>
    </ng-container>

    <!-- first_name Column -->
    <ng-container matColumnDef="first_name">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.first_name||"--"}} </td>
    </ng-container>

    <!-- first_name Column -->
    <ng-container matColumnDef="last_name">
      <th mat-header-cell *matHeaderCellDef> Apellido </th>
      <td mat-cell *matCellDef="let element"> {{element.last_name||"--"}} </td>
    </ng-container>

    <!-- height_inches Column -->
    <ng-container matColumnDef="height_inches">
      <th mat-header-cell *matHeaderCellDef> Altura(Pulgadas) </th>
      <td mat-cell *matCellDef="let element"> {{element.height_inches||"--"}} </td>
    </ng-container>

    <!-- height_feet Column -->
    <ng-container matColumnDef="height_feet">
      <th mat-header-cell *matHeaderCellDef> Altura(Pies) </th>
      <td mat-cell *matCellDef="let element"> {{element.height_feet|| "--"}} </td>
    </ng-container>

     <!-- weight_pounds Column -->
    <ng-container matColumnDef="weight_pounds">
      <th mat-header-cell *matHeaderCellDef> Peso(Libras) </th>
      <td mat-cell *matCellDef="let element"> {{element.weight_pounds||"--"}} </td>
    </ng-container>

    <!-- position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Posicion </th>
      <td mat-cell *matCellDef="let element"> {{properties||"--"}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="cosole.log(element.id)"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
</div>

